# start automatic section for plan
/.tmp
/blasons/shield_aceh.png
/blasons/shield_aceh.pnm
/blasons/shield_aden.png
/blasons/shield_aden.pnm
/blasons/shield_afghans.png
/blasons/shield_afghans.pnm
/blasons/shield_algerie.png
/blasons/shield_algerie.pnm
/blasons/shield_alliance.png
/blasons/shield_alliance.pnm
/blasons/shield_alsace.png
/blasons/shield_alsace.pnm
/blasons/shield_angleterre.png
/blasons/shield_angleterre.pnm
/blasons/shield_arabie.png
/blasons/shield_arabie.pnm
/blasons/shield_astrakhan.png
/blasons/shield_astrakhan.pnm
/blasons/shield_azteque.png
/blasons/shield_azteque.pnm
/blasons/shield_bade.png
/blasons/shield_bade.pnm
/blasons/shield_balkans.png
/blasons/shield_balkans.pnm
/blasons/shield_baviere.png
/blasons/shield_baviere.pnm
/blasons/shield_belgique.png
/blasons/shield_belgique.pnm
/blasons/shield_berg.png
/blasons/shield_berg.pnm
/blasons/shield_blanc.png
/blasons/shield_blanc.pnm
/blasons/shield_boheme.png
/blasons/shield_boheme.pnm
/blasons/shield_bourgogne.png
/blasons/shield_bourgogne.pnm
/blasons/shield_brandebourg.png
/blasons/shield_brandebourg.pnm
/blasons/shield_bretagne.png
/blasons/shield_bretagne.pnm
/blasons/shield_brunswick.png
/blasons/shield_brunswick.pnm
/blasons/shield_catalogne.png
/blasons/shield_catalogne.pnm
/blasons/shield_chevaliers.png
/blasons/shield_chevaliers.pnm
/blasons/shield_chine.png
/blasons/shield_chine.pnm
/blasons/shield_cologne.png
/blasons/shield_cologne.pnm
/blasons/shield_corse.png
/blasons/shield_corse.pnm
/blasons/shield_cosaquesdon.png
/blasons/shield_cosaquesdon.pnm
/blasons/shield_courlande.png
/blasons/shield_courlande.pnm
/blasons/shield_crimee.png
/blasons/shield_crimee.pnm
/blasons/shield_croises.png
/blasons/shield_croises.pnm
/blasons/shield_cyrenaique.png
/blasons/shield_cyrenaique.pnm
/blasons/shield_damas.png
/blasons/shield_damas.pnm
/blasons/shield_danemark.png
/blasons/shield_danemark.pnm
/blasons/shield_eastprussia.png
/blasons/shield_eastprussia.pnm
/blasons/shield_ecosse.png
/blasons/shield_ecosse.pnm
/blasons/shield_espagne.png
/blasons/shield_espagne.pnm
/blasons/shield_finlande.png
/blasons/shield_finlande.pnm
/blasons/shield_flandrebrabant.png
/blasons/shield_flandrebrabant.pnm
/blasons/shield_france.png
/blasons/shield_france.pnm
/blasons/shield_francec.png
/blasons/shield_francec.pnm
/blasons/shield_francep.png
/blasons/shield_francep.pnm
/blasons/shield_genes.png
/blasons/shield_genes.pnm
/blasons/shield_georgie.png
/blasons/shield_georgie.pnm
/blasons/shield_grenade.png
/blasons/shield_grenade.pnm
/blasons/shield_gujarat.png
/blasons/shield_gujarat.pnm
/blasons/shield_habsbourg.png
/blasons/shield_habsbourg.pnm
/blasons/shield_hanovre.png
/blasons/shield_hanovre.pnm
/blasons/shield_hanse.png
/blasons/shield_hanse.pnm
/blasons/shield_hesse.png
/blasons/shield_hesse.pnm
/blasons/shield_hollande.png
/blasons/shield_hollande.pnm
/blasons/shield_hongrie.png
/blasons/shield_hongrie.pnm
/blasons/shield_huguenots.png
/blasons/shield_huguenots.pnm
/blasons/shield_hyderabad.png
/blasons/shield_hyderabad.pnm
/blasons/shield_inca.png
/blasons/shield_inca.pnm
/blasons/shield_irak.png
/blasons/shield_irak.pnm
/blasons/shield_irlande.png
/blasons/shield_irlande.pnm
/blasons/shield_iroquois.png
/blasons/shield_iroquois.pnm
/blasons/shield_japon.png
/blasons/shield_japon.pnm
/blasons/shield_kazan.png
/blasons/shield_kazan.pnm
/blasons/shield_liege.png
/blasons/shield_liege.pnm
/blasons/shield_liflandie.png
/blasons/shield_liflandie.pnm
/blasons/shield_ligue.png
/blasons/shield_ligue.pnm
/blasons/shield_lithuanie.png
/blasons/shield_lithuanie.pnm
/blasons/shield_lorraine.png
/blasons/shield_lorraine.pnm
/blasons/shield_lucca.png
/blasons/shield_lucca.pnm
/blasons/shield_mamelouks.png
/blasons/shield_mamelouks.pnm
/blasons/shield_maroc.png
/blasons/shield_maroc.pnm
/blasons/shield_mayence.png
/blasons/shield_mayence.pnm
/blasons/shield_mazovie.png
/blasons/shield_mazovie.pnm
/blasons/shield_mercenaires.png
/blasons/shield_mercenaires.pnm
/blasons/shield_milan.png
/blasons/shield_milan.pnm
/blasons/shield_modene.png
/blasons/shield_modene.pnm
/blasons/shield_mogol.png
/blasons/shield_mogol.pnm
/blasons/shield_moldavie.png
/blasons/shield_moldavie.pnm
/blasons/shield_montferrat.png
/blasons/shield_montferrat.pnm
/blasons/shield_mysore.png
/blasons/shield_mysore.pnm
/blasons/shield_naples.png
/blasons/shield_naples.pnm
/blasons/shield_natives.png
/blasons/shield_natives.pnm
/blasons/shield_neutre.png
/blasons/shield_neutre.pnm
/blasons/shield_norvege.png
/blasons/shield_norvege.pnm
/blasons/shield_oldenburg.png
/blasons/shield_oldenburg.pnm
/blasons/shield_oman.png
/blasons/shield_oman.pnm
/blasons/shield_oresund.png
/blasons/shield_oresund.pnm
/blasons/shield_palatinat.png
/blasons/shield_palatinat.pnm
/blasons/shield_papaute.png
/blasons/shield_papaute.pnm
/blasons/shield_parme.png
/blasons/shield_parme.pnm
/blasons/shield_perse.png
/blasons/shield_perse.pnm
/blasons/shield_pirates.png
/blasons/shield_pirates.pnm
/blasons/shield_pise.png
/blasons/shield_pise.pnm
/blasons/shield_pologne.png
/blasons/shield_pologne.pnm
/blasons/shield_pommeranie.png
/blasons/shield_pommeranie.pnm
/blasons/shield_portugal.png
/blasons/shield_portugal.pnm
/blasons/shield_prusse.png
/blasons/shield_prusse.pnm
/blasons/shield_pskov.png
/blasons/shield_pskov.pnm
/blasons/shield_rebelles.png
/blasons/shield_rebelles.pnm
/blasons/shield_revolutionnaires.png
/blasons/shield_revolutionnaires.pnm
/blasons/shield_royalistes.png
/blasons/shield_royalistes.pnm
/blasons/shield_russie.png
/blasons/shield_russie.pnm
/blasons/shield_ryazan.png
/blasons/shield_ryazan.pnm
/blasons/shield_saint-empire.png
/blasons/shield_saint-empire.pnm
/blasons/shield_sainte-ligue.png
/blasons/shield_sainte-ligue.pnm
/blasons/shield_savoie.png
/blasons/shield_savoie.pnm
/blasons/shield_saxe.png
/blasons/shield_saxe.pnm
/blasons/shield_siberie.png
/blasons/shield_siberie.pnm
/blasons/shield_sienne.png
/blasons/shield_sienne.pnm
/blasons/shield_soudan.png
/blasons/shield_soudan.pnm
/blasons/shield_steppes.png
/blasons/shield_steppes.pnm
/blasons/shield_suede.png
/blasons/shield_suede.pnm
/blasons/shield_suisse.png
/blasons/shield_suisse.pnm
/blasons/shield_teutoniques1.png
/blasons/shield_teutoniques1.pnm
/blasons/shield_teutoniques2.png
/blasons/shield_teutoniques2.pnm
/blasons/shield_thuringe.png
/blasons/shield_thuringe.pnm
/blasons/shield_tordesillas.png
/blasons/shield_tordesillas.pnm
/blasons/shield_toscane.png
/blasons/shield_toscane.pnm
/blasons/shield_transylvanie.png
/blasons/shield_transylvanie.pnm
/blasons/shield_treves.png
/blasons/shield_treves.pnm
/blasons/shield_tripoli.png
/blasons/shield_tripoli.pnm
/blasons/shield_tunisie.png
/blasons/shield_tunisie.pnm
/blasons/shield_turquie.png
/blasons/shield_turquie.pnm
/blasons/shield_ukraine.png
/blasons/shield_ukraine.pnm
/blasons/shield_usa.png
/blasons/shield_usa.pnm
/blasons/shield_valachie.png
/blasons/shield_valachie.pnm
/blasons/shield_venise.png
/blasons/shield_venise.pnm
/blasons/shield_vijayanagar.png
/blasons/shield_vijayanagar.pnm
/blasons/shield_wurtemberg.png
/blasons/shield_wurtemberg.pnm
/figures/amiral.eps
/figures/anchor.png
/figures/anchor2.png
/figures/anchor3.png
/figures/anchor4.png
/figures/anchor5.png
/figures/appendix.jpg
/figures/appendixmajor.jpg
/figures/autrereligion.eps
/figures/basics.jpg
/figures/bateau.png
/figures/blocus.png
/figures/catholique.eps
/figures/chess.jpg
/figures/chiite.eps
/figures/conquistador.eps
/figures/corsaire.eps
/figures/default.jpg
/figures/diplomacy.jpg
/figures/doge.eps
/figures/economicalevents.jpg
/figures/etoile.eps
/figures/events.jpg
/figures/expenses.jpg
/figures/explorateur.eps
/figures/general.eps
/figures/gouverneur.eps
/figures/incomes.jpg
/figures/index.jpg
/figures/ingenieur.eps
/figures/interphase.jpg
/figures/military.jpg
/figures/mine.png
/figures/monarque.eps
/figures/orthodoxe.eps
/figures/pacha.eps
/figures/politicalevents.jpg
/figures/powers.jpg
/figures/protestant.eps
/figures/redeployment.jpg
/figures/scenarios.jpg
/figures/sel.png
/figures/specificrules.jpg
/figures/strategy.jpg
/figures/sunnite.eps
/figures/victories.jpg
/figures/ville1.png
/figures/ville2.png
/figures/villechine1.png
/figures/villechine2.png
/figures/villeinde1.png
/figures/villeinde2.png
/figures/winning.jpg
/fonts/arial_narrow.ps
/fonts/champion.ps
/fonts/encodings.ps
/pions/admin-ops.counters.txt
/pions/admin-ops.depends.txt
/pions/admin-ops.eps
/pions/admin-ops.pdf
/pions/anonymes-ops.counters.txt
/pions/anonymes-ops.depends.txt
/pions/anonymes-ops.eps
/pions/anonymes-ops.pdf
/pions/armees-ops.counters.txt
/pions/armees-ops.depends.txt
/pions/armees-ops.eps
/pions/armees-ops.pdf
/pions/bitmap
/pions/commerce-ops.counters.txt
/pions/commerce-ops.depends.txt
/pions/commerce-ops.eps
/pions/commerce-ops.pdf
/pions/diplomatie-ops.counters.txt
/pions/diplomatie-ops.depends.txt
/pions/diplomatie-ops.eps
/pions/diplomatie-ops.pdf
/pions/generiques-ops.counters.txt
/pions/generiques-ops.depends.txt
/pions/generiques-ops.eps
/pions/generiques-ops.pdf
/pions/leaders-ops.counters.txt
/pions/leaders-ops.depends.txt
/pions/leaders-ops.eps
/pions/leaders-ops.pdf
/pions/manifest.txt
/pions/moreadmin-ops.counters.txt
/pions/moreadmin-ops.depends.txt
/pions/moreadmin-ops.eps
/pions/moreadmin-ops.pdf
/pions/pions.counters.txt
/pions/pions.depends.txt
/pions/pions.eps
/pions/pions.pdf
/pions/planchecontact.counters.txt
/pions/planchecontact.depends.txt
/pions/planchecontact.pdf
/pions/targets
/pions/virtuels-ops.counters.txt
/pions/virtuels-ops.depends.txt
/pions/virtuels-ops.eps
/pions/virtuels-ops.pdf
/pions/wanted.txt
/shadow/mecca.pgm
/shadow/mecca.pnm
/shadow/ville1.pgm
/shadow/ville1.pnm

# stop automatic section for plan
