/exoticresources.log
/tradefleets.log
/exoticresources.aux
/tradefleets.aux
/missfont.log
/targets
/spanishcolonies.pdf
/colonies.pdf
/monarch.pdf
/accounting-rt.pdf
/accounting-income.pdf
/accounting-economic.pdf
/exoticresources.pdf
/tradefleets.pdf
accounting-income-start.pdf
accounting-income-ANG.pdf
accounting-income-FRA.pdf
accounting-income-HIS.pdf
accounting-income-TUR.pdf
accounting-income-VEN.pdf
accounting-income-POL.pdf
accounting-income-RUS.pdf
accounting-income-POR.pdf
accounting-income-DAN.pdf
accounting-rt-start.pdf
accounting-rt-ANG.pdf
accounting-rt-FRA.pdf
accounting-rt-HIS.pdf
accounting-rt-TUR.pdf
accounting-rt-VEN.pdf
accounting-rt-POL.pdf
accounting-rt-RUS.pdf
accounting-rt-POR.pdf
accounting-rt-DAN.pdf
monarch-start.pdf
monarch-ANG.pdf
monarch-DAN.pdf
monarch-FRA.pdf
monarch-HIS.pdf
monarch-POL.pdf
monarch-POR.pdf
monarch-RUS.pdf
monarch-TUR.pdf
monarch-VEN.pdf
colonies-POR.pdf
