/exoticresources.log
/tradefleets.log
/exoticresources.aux
/tradefleets.aux
/missfont.log
/targets
/spanishcolonies.pdf
/colonies.pdf
/monarch.pdf
/accounting-rt.pdf
/accounting-income.pdf
/accounting-economic.pdf
/exoticresources.pdf
/tradefleets.pdf
accounting-income-start.pdf
