[
   {
      "argument" : "$1",
      "out" : [
         "blasons/shield_$1.png",
         "blasons/shield_$1.pnm"
      ],
      "pattern" : "blasons/src/shield_(.*).xcf",
      "in" : [
         "blasons/src/shield_$1.xcf",
         ".tmp/proof-gimp",
         "blasons/templates/modele.xcf",
         "bin/gimpexec",
         "library/makeshield.scm"
      ],
      "type" : "pattern",
      "actor" : "BLASONS"
   },
   {
      "argument" : "$1",
      "out" : [
         "shadow/$1.png",
         "shadow/$1.pnm"
      ],
      "pattern" : "shadow/(.*).xcf",
      "in" : [
         "shadow/$1.xcf",
         ".tmp/proof-gimp",
         "bin/gimpexec",
         "library/xcftoshadow.scm"
      ],
      "type" : "pattern",
      "actor" : "SHADOW"
   },
   {
      "out" : [
         ".tmp/proof-gimp"
      ],
      "in" : [],
      "type" : "simple",
      "actor" : "CHECKGIMP"
   },
   {
      "out" : [
         ".tmp/proof-tex"
      ],
      "in" : [],
      "type" : "simple",
      "actor" : "CHECKTEX"
   },
   {
      "out" : [
         ".tmp/proof-curl"
      ],
      "in" : [],
      "type" : "simple",
      "actor" : "CHECKCURL"
   },
   {
      "out" : [
         ".tmp/proof-texinstall"
      ],
      "in" : [
         "fonts/texfonts.def",
         "bin/install-pack",
         ".tmp/proof-curl",
         ".tmp/proof-tex"
      ],
      "type" : "simple",
      "actor" : "TEXINSTALL"
   },
   {
      "out" : [
         "fonts/encodings.eps"
      ],
      "in" : [
         "bin/makeencodings"
      ],
      "type" : "simple",
      "actor" : "FONTENCODING"
   },
   {
      "out" : [
         "fonts/$1.eps"
      ],
      "maxargs" : 1,
      "infile" : [
         "plan/in/$1.in"
      ],
      "actor" : "FONTENCODINGPATTERN",
      "argument" : "$1",
      "pattern" : "fonts/(.*).spec",
      "in" : [
         "fonts/$1.spec",
         "bin/makeencodings"
      ],
      "type" : "pattern"
   }
]
