{
   "BLASONS" : {
      "actor" : "BLASONS",
      "argument" : "$1",
      "class" : "Shield images",
      "in" : [
         "blasons/src/shield_$1.xcf",
         ".tmp/proof-gimp",
         "blasons/templates/modele.xcf",
         "bin/gimpexec",
         "library/makeshield.scm"
      ],
      "out" : [
         "blasons/shield_$1.png",
         "blasons/shield_$1.pnm"
      ],
      "pattern" : "blasons/src/shield_(.*).xcf",
      "type" : "pattern"
   },
   "CHECKFONTFORGE" : {
      "actor" : "CHECKFONTFORGE",
      "class" : "Checking programs",
      "in" : [],
      "out" : [
         ".tmp/proof-fontforge"
      ],
      "subclass" : "fontforge",
      "type" : "simple"
   },
   "CHECKGIMP" : {
      "actor" : "CHECKGIMP",
      "class" : "Checking programs",
      "in" : [],
      "out" : [
         ".tmp/proof-gimp"
      ],
      "subclass" : "gimp",
      "type" : "simple"
   },
   "CHECKPDFTOPPM" : {
      "actor" : "CHECKPDFTOPPM",
      "class" : "Checking programs",
      "in" : [],
      "out" : [
         ".tmp/proof-pdftoppm"
      ],
      "subclass" : "pdftoppm",
      "type" : "simple"
   },
   "CHECKPNGCRUSH" : {
      "actor" : "CHECKPNGCRUSH",
      "class" : "Checking programs",
      "in" : [],
      "out" : [
         ".tmp/proof-pngcrush"
      ],
      "subclass" : "pngcrush",
      "type" : "simple"
   },
   "CHECKTEX" : {
      "actor" : "CHECKTEX",
      "class" : "Checking programs",
      "in" : [],
      "out" : [
         ".tmp/proof-tex"
      ],
      "subclass" : "TeX",
      "type" : "simple"
   },
   "CHECKURL" : {
      "actor" : "CHECKCURL",
      "class" : "Checking programs",
      "in" : [],
      "out" : [
         ".tmp/proof-curl"
      ],
      "subclass" : "curl",
      "type" : "simple"
   },
   "COUNTERTEMPLATE" : {
      "actor" : "COUNTERTEMPLATE",
      "class" : "Counters templates",
      "in" : [
         "bin/extract"
      ],
      "infile" : [
         "plan/in/pionseps.in"
      ],
      "out" : [
         "pions/pions.eps"
      ],
      "type" : "simple"
   },
   "COUNTERTEMPLATEOPS" : {
      "actor" : "COUNTERTEMPLATEOPS",
      "argument" : "$1",
      "class" : "Counters templates",
      "in" : [
         "bin/extract",
         "pions/$1_c.txt"
      ],
      "out" : [
         "pions/$1-ops.eps"
      ],
      "pattern" : "pions/(.*)_c.txt",
      "subclass" : "one-per-sheet",
      "type" : "pattern"
   },
   "FIGURESHADOW" : {
      "actor" : "FIGURESHADOW",
      "allowedargs" : [
         "ville1",
         "ville2",
         "villechine1",
         "villechine2",
         "villeinde1",
         "villeinde2",
         "anchor",
         "anchor2",
         "anchor3",
         "anchor4",
         "anchor5",
         "blocus",
         "bateau",
         "sel",
         "mine"
      ],
      "argument" : "$1",
      "class" : "Recompositing pictures",
      "in" : [
         "shadow/$1.pnm",
         "shadow/$1.pgm",
         ".tmp/proof-gimp",
         "bin/gimpexec",
         "library/shadowtopng.scm"
      ],
      "mingen" : 3,
      "out" : [
         "figures/$1.png"
      ],
      "pattern" : "shadow/(.*).pnm",
      "type" : "pattern"
   },
   "FONTENCODING" : {
      "actor" : "FONTENCODING",
      "class" : "Font encodings",
      "in" : [
         "bin/makeencodings"
      ],
      "out" : [
         "fonts/encodings.ps"
      ],
      "type" : "simple"
   },
   "FONTENCODINGPATTERN" : {
      "actor" : "FONTENCODINGPATTERN",
      "argument" : "$1",
      "class" : "Font encodings",
      "in" : [
         "fonts/$1.spec",
         "bin/makeencodings"
      ],
      "infile" : [
         "plan/in/$1.in"
      ],
      "maxargs" : 1,
      "out" : [
         "fonts/$1.ps"
      ],
      "pattern" : "fonts/(.*).spec",
      "type" : "pattern"
   },
   "FONTFORGE" : {
      "actor" : "FONTFORGE",
      "argument" : "$1",
      "class" : "Generating postscript fonts",
      "in" : [
         "fonts/$1.sfd",
         ".tmp/proof-fontforge",
         "library/generatefont"
      ],
      "lazy" : 1,
      "out" : [
         "fonts/$1.pfb",
         "fonts/$1.afm"
      ],
      "pattern" : "fonts/(.*).sfd",
      "type" : "pattern"
   },
   "PIONS" : {
      "actor" : "PIONS",
      "argument" : "$1",
      "class" : "Building counters",
      "in" : [
         "pions/$1.eps"
      ],
      "infile" : [
         "plan/in/$1pdf.in"
      ],
      "out" : [
         "pions/$1.pdf",
         "pions/$1.counters.txt",
         "pions/$1.depends.txt"
      ],
      "pattern" : "pions/(.*).eps",
      "subclass" : "compiling",
      "type" : "pattern"
   },
   "PIONSBITMAP_default" : {
      "actor" : "PIONSBITMAP",
      "arg" : [
         "minimal"
      ],
      "class" : "Downloading counters bitmap",
      "in" : [
         "pions/minimal.txt",
         "pions/manifest.txt.bz2",
         "bin/filedownloader"
      ],
      "mode" : "default",
      "out" : [
         "pions/bitmap"
      ],
      "subclass" : "fetching",
      "type" : "simple"
   },
   "PIONSBITMAP_fulldownload" : {
      "actor" : "PIONSBITMAP",
      "arg" : [
         "full"
      ],
      "class" : "Downloading counters bitmap",
      "class_rebuild" : "Rebuilding counters bitmap",
      "in" : [
         "pions/manifest.txt.bz2",
         "bin/filedownloader"
      ],
      "mode" : "fulldownload",
      "out" : [
         "pions/bitmap"
      ],
      "subclass" : "fetching",
      "type" : "simple"
   },
   "PIONSBITMAP_rebuild" : {
      "actor" : "PIONSBITMAPGEN",
      "arg" : [
         "rebuild"
      ],
      "class" : "Rebuilding counters bitmap",
      "in" : [
         ".tmp/proof-pdftoppm",
         ".tmp/proof-pngcrush"
      ],
      "infile" : [
         "plan/in/pionsbitmap.in"
      ],
      "lazy" : 1,
      "mode" : "rebuild",
      "out" : [
         "pions/bitmap",
         "pions/manifest.txt.bz2"
      ],
      "subclass" : "rebuilding",
      "type" : "simple"
   },
   "PIONSLIST" : {
      "actor" : "PIONSLIST",
      "class" : "Building counters",
      "in" : [
         "pions/pions-ops.counters.txt"
      ],
      "lazy" : 1,
      "out" : [
         "pions/counters.txt"
      ],
      "subclass" : "counters list",
      "type" : "simple"
   },
   "SHADOW" : {
      "actor" : "SHADOW",
      "argument" : "$1",
      "class" : "Decompositing pictures",
      "in" : [
         "shadow/$1.xcf",
         ".tmp/proof-gimp",
         "bin/gimpexec",
         "library/xcftoshadow.scm"
      ],
      "out" : [
         "shadow/$1.pgm",
         "shadow/$1.pnm"
      ],
      "pattern" : "shadow/(.*).xcf",
      "type" : "pattern"
   },
   "TEXINSTALL" : {
      "actor" : "TEXINSTALL",
      "class" : "Checking programs",
      "in" : [
         "fonts/texfonts.def",
         "bin/install-pack",
         ".tmp/proof-curl",
         ".tmp/proof-tex"
      ],
      "out" : [
         ".tmp/proof-texinstall"
      ],
      "subclass" : "TeX packages",
      "type" : "simple"
   }
}
