[
   {
      "argument" : "$1",
      "out" : [
         "blasons/shield_$1.png",
         "blasons/shield_$1.pnm"
      ],
      "pattern" : "blasons/src/shield_(.*).xcf",
      "in" : [
         "blasons/src/shield_$1.xcf",
         ".tmp/proof-gimp",
         "blasons/templates/modele.xcf",
         "library/makeshield.scm"
      ],
      "type" : "pattern",
      "actor" : "BLASONS",
   },
   {
      "out" : [
         ".tmp/proof-gimp"
      ],
      "in" : [],
      "type" : "simple",
      "actor" : "CHECKGIMP"
   }
]
