/engAlpha.tgz
/engAlpha.aux
/engAlpha.bbl
/engAlpha.blg
/engAlpha.idx
/engAlpha.ilg
/engAlpha.ind
/engAlpha.lof
/engAlpha.log
/engAlpha.lot
/engAlpha.md5
/engAlpha.out
/engAlpha.toc
/engAlpha.xmp
/euMinors.tgz
/euMinors.aux
/euMinors.bbl
/euMinors.blg
/euMinors.idx
/euMinors.ilg
/euMinors.ind
/euMinors.lof
/euMinors.log
/euMinors.lot
/euMinors.md5
/euMinors.out
/euMinors.toc
/euMinors.xmp
/euTables.tgz
/euTables.aux
/euTables.bbl
/euTables.blg
/euTables.idx
/euTables.ilg
/euTables.ind
/euTables.lof
/euTables.log
/euTables.lot
/euTables.md5
/euTables.out
/euTables.toc
/euTables.xmp
/euObjectives.tgz
/euObjectives.aux
/euObjectives.bbl
/euObjectives.blg
/euObjectives.idx
/euObjectives.ilg
/euObjectives.ind
/euObjectives.lof
/euObjectives.log
/euObjectives.lot
/euObjectives.md5
/euObjectives.out
/euObjectives.toc
/euObjectives.xmp
/missfont.log
/release.sty.new
/booklet.aux
/booklet.log
/booklet2.aux
/booklet2.log
/booklet.pdf
/booklet2.pdf
/translations.tex
/engLeaders.tex
/leaders.utf
/release.sty
/euTables.pdf
/engAlpha.pdf
/euMinors.pdf
/euObjectives.pdf
